<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wrx.codeplatform.framework.mapper.ContainerMapper">

    <resultMap type="com.wrx.codeplatform.domain.framework.sql.container.Container" id="ContainerMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="creator" column="creator" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="DATE"/>
    </resultMap>

    <select id="selectContainerById" resultMap="ContainerMap">
        select * from file_container where id=#{id}
    </select>

    <select id="selectContainerByCreator" resultMap="ContainerMap">
        select * from file_container where creator=#{creator}
    </select>

    <update id="updateContainer">
        update file_container
        <set>
            <if test="creator != null">
                creator = #{creator},
            </if>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteContainerById">
        delete from file_container where id = #{id}
    </delete>

    <insert id="insertContainer" keyProperty="id" useGeneratedKeys="true">
        insert into file_container (`name`, creator, description, create_date)
        values (#{name}, #{creator}, #{description}, #{createDate})
    </insert>

</mapper>